<%= documentation('republished-feed-removals-tab') %>
<h3>Remove</h3>
<p>The feeds, tags, searches and items below are removed from this feed before publishing.</p>
<%= render :partial => 'shared/line_items/manage_input_source', :collection => @republished_feed.input_sources.removals, :as => :input_source %>
<% if current_user && current_user.is?(:owner, @republished_feed) %>
  <p>Remove items from this remixed feed by using the controls throughout this hub.</p>
<% end %>
