

    # This part of the form doesn't work. Maybe some day...

    <li class="string optional" id="ajax_item_source_container">
    <label for="ajax_item_source">Source <span id="spinner"></span></label>
      <input type="text" id="ajax_item_source" name="ajax_item_source" />
      <p class="inline-hints">Start typing to find the Feed, Item, or Tag you'd like to be the input source.</p>
    <p class="inline-hints"><span class="ui-silk inline ui-silk-delete"<% if @input_source.new_record? %> style="display: none;"<% end %> id="item_source_remove"></span> <span id="ajax_item_source_selection"><% unless @input_source.new_record? %><%= raw @input_source.item_source.mini_icon %> <%= link_to(raw(strip_tags(@input_source.item_source.to_s)), @input_source) %><% end %></span></p>

    </li>

    <%= f.input :search_in, :as => :radio, :collection => [['Feeds','Feed'],['Items','FeedItem'],['Tags','ActsAsTaggableOn::Tag']] %>
