<% hub = (@hub.blank?) ? input_source.republished_feed.hub : @hub %>
<div class="input_source">
  <div class="grid_1 alpha">
    <% if current_user && current_user.is?(:owner, input_source) && !input_source.new_record? %>
      <%= link_to('delete', input_source_path(input_source), :method => :delete, :confirm => "Are you sure?", :class => 'ui-silk ui-silk-delete inline hover gray', :title => "Delete this item") %>
      <% if false %>
        <%= link_to('edit', edit_input_source_path(input_source), :class => 'ui-silk ui-silk-application-edit inline hover gray', :title => "Edit this item") %>
      <% end %>
    <% end %>
  </div>
  <div class="grid_10 omega">
    <%= render "shared/line_items/input_source", :input_source => input_source, :hub => hub %>
  </div>
  <div class="clear"></div>
</div>
